
.events-wrapper{
    display: flex;
    background-color: #0034ae;
    height: 60vh;
    padding-inline: 80px;
}

.left-cornerImg{
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
    height: 60px;
    width: 60px;

}

.events-container {
    max-width: 800px;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;

}

.events-container-two{
 
    flex: 1;
    background-image: url("/public/eventsOverview/Layer_1\ \(2\).png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    position: relative;
}

.text-box {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-45%, -50%);
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    max-width: 250px;
}

.text-box span {
    display: block;
    font-weight: bold;
}

.highlight {
    display: inline-block;
    background: #0066FF;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 10px;
}
h1 {
    color: #007BFF;
}
p {
    line-height: 1.6;
}
.download-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}
.download-link:hover {
    background-color: #0056b3;
}





  
/* Responsive Styles */
@media (max-width: 768px) {


    .events-wrapper{
        display: flex;
    flex-direction: column;
    height: 120vh;
    padding-inline: 10px;

        
    }

    .left-cornerImg{
        height: 60px;
        width: 60px;
    }
  
  }
  