.hero-wrapper {
    position: relative;
    width: 100%;
    background: url("/public/hero/hero-bg.jpg") no-repeat center/cover;
}

.heroShade {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}

.nav {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 10;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    height: 100vh;
    padding-inline: 80px;
}

.details {
    position: absolute;
    bottom: 100px;
    z-index: 100;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

.details div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.subheading {
    font-size: 15px;
    margin: 10px 0;
    text-transform: uppercase;
    color: white;
}

.arabic {
    font-weight: bold;
    direction: rtl;
}

.iconsImg {
    object-fit: contain;
    width: 15px;
    height: 15px;
}

.register-btn-desktop {
    width: 160px;
    height: 35px;
    border-radius: 80px;
    background-color: #ADEDEA;
    color: #0034AE;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    outline: none;
    border: none;
    display: none;
}

/* Responsive Styles */
@media (max-width: 720px) {
    .register-btn-desktop {
        display: block;
    }

    .details {
        padding-inline: 18px;
    }

    .first-section {
        font-size: 16px;
        text-align: center;
    }

    .hero-container {
        height: 600px;
        padding-inline: 20px;
        gap: 20px;
    }
}

@media (max-width: 468px) {
    .heroShade {
        display: none;
    }
}
