.video-wrapper{
    padding-inline: 60px;
    background-color:#0034ae ;
    padding-top: 30px;
}

.video-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
}
.videoSection{
    display: flex;
    align-items: center;
    justify-content: center;

}


.video{
    object-fit: contain;
    height: 600px;
    width: 100%;
    border-radius: 15px;

}

.videoSectionBottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.descVideo{
    flex: 4;
    color: white;
    font-size: 16px;
}

.iconVideo{
    flex: 1;
    position: relative;
}




/* Responsive Styles */
@media (max-width: 768px) {
   
    .video{
        object-fit: contain;
        height: 100%;
        width: 100%;
        border-radius: 15px;
    
    }

    .videoSectionBottom{
     
        width: 100%;
    }

    .videoIconBottom{
        height: 40px;
        width: 40px;
        position: absolute;
        bottom: 0;
        right: 0;
    }


    .descVideo{
     
        font-size: 12px;
    }
    .video-wrapper{
   
        padding-inline: 20px;
    }

}
