.footer-container {
    background: #0034ae;
    color: white;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
    padding: 40px 20px;
    padding-inline: 80px;
}

.register-heading {
    font-size: 28px;
    margin-bottom: 15px;
    color: #ADEDEA;
}

.register-subheading {
    margin-bottom: 30px;
}

.registration-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 0 0 30px 0;
}

.form-group {
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #F0F0EA;
}

.register-button {
    background: #ADEDEA;
    color: #0034ae;
    border: none;
    padding: 12px;
    font-size: 8px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bolder;
    width: 40%;
}

.website-link {
    display: block;
    color: white;
    text-decoration: none;
    margin: 20px 0;
    font-size: 18px;
}

.folow-text{    font-size: 18px;


}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 24px;
}

.required::after {
    content: '*';
    color: #ff4081;
    margin-left: 3px;
}

.bottomLabel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
    border-top: 1px solid white;
    padding-inline: 80px;
}

.sm-icons {
    height: 30px;
    width: 30px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mui-icon {
    font-size: 15px !important; /* Adjust size */
    color: white;
    transition: transform 0.3s ease-in-out;
}

.mui-icon:hover {
    transform: scale(1.2);
}

.RegButton{

    padding-block: 10px;

}

/* Responsive Styles */
@media (max-width: 768px) {
    .footer-content {
        padding-inline: 20px;
        text-align: left;
    }

    .registration-form {
        grid-template-columns: 1fr; /* Single column */
    }

    .bottomLabel {
        flex-direction: column;
        text-align: center;
        gap: 15px;
        padding-inline: 20px;
    }

    .register-button {
        width: 170px;
        height: 40px;
        font-size: 12px;
    }

    .social-icons {
        justify-content: center;
    }

    .RegButton{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .website-link {

        font-size: 12px;
    }
    
    .folow-text{    font-size: 12px;
    
    
    }
}
